{% extends "base.html" %}
{% load static %}
{% block content %}
<center>
    <h1>Гостевая книга. </h1>
</center>

    <form action="{% url "book_add" %}" method="post">
        {% include "book_forms.html" with button_text="Создать запись в книге" %}
    </form>

    {% for book in books %}
        <div class="panel">
        <p class="title"> {{ book.name }}   ( {{ book.email}} ) &emsp;&emsp;

             <button><a href="{% url "book_delete" book.id %}"> <img src="{% static "img/delete.png" %}" width="15" height="15" alt="delete"
          style="vertical-align: middle"></a> </button>
              <button><a href="{% url "book_update" book.id %}"> <img src="{% static "img/update.png" %}" width="15" height="15" alt="update"
          style="vertical-align: middle"></a>  </button>


        </p>
           <p> {{ book.description }}</p>
        </div>

        <br/>
    {% endfor %}
{% endblock %}
